@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  margin: auto;
  background: hsl(210deg, 60%, 98%);
}

p {
  font-size: 1rem;
  color: hsl(219deg, 12%, 42%);
  line-height: 1.3;
}

h1 {
  color: hsl(224deg, 21%, 14%);
  font-size: 1.1rem;
  font-weight: 800;
}

main {
  width: 100%;
  margin: 1rem;
  background: white;
  margin: auto;
  border-radius: 1rem;
  max-width: 46.25rem;
}

.head {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  padding: 1rem 0;
}

.count-notifications {
  display: inline-block;
  background: hsl(219deg, 78%, 34%);
  color: hsl(0deg, 0%, 100%);
  border-radius: 0.5rem;
  padding: 0 0.7rem;
  margin: 0 0.5rem;
}

.mark-as-read {
  background-color: transparent;
  border-width: 0;
  font-size: 0.95rem;
  font-style: inherit;
  font-weight: 500;
  line-height: inherit;
  letter-spacing: small;
  padding: 0;
  color: hsl(219deg, 14%, 63%);
  cursor: pointer;
}
.mark-as-read:hover {
  color: hsl(219deg, 78%, 34%);
}

.panel-notif {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.panel-notif li {
  list-style: none;
  padding: 1rem 0rem;
  margin: 0 1rem;
  border-radius: 1rem;
  display: flex;
}

.panel-notif .photo-profil {
  height: 2.5rem;
  width: auto;
  margin: 0 1rem;
}

.panel-notif .name {
  text-decoration: none;
  color: hsl(224deg, 21%, 14%);
  font-weight: 800;
}

.panel-notif .groupe {
  text-decoration: none;
  color: hsl(219deg, 78%, 34%);
  font-weight: 800;
}

.panel-notif .activity {
  text-decoration: none;
  color: hsl(219deg, 12%, 42%);
  font-weight: 800;
}
.panel-notif .activity:hover {
  color: hsl(219deg, 78%, 34%);
}

.panel-notif .time {
  color: hsl(219deg, 14%, 63%);
  font-size: 1rem;
}

.panel-notif .sectiontext {
  flex-grow: 1;
  margin-right: 0.5rem;
}

.panel-notif .private-msg {
  display: inline-block;
  border: 1px solid hsl(205deg, 33%, 90%);
  border-radius: 0.5rem;
  margin: 0.2rem 1.5rem 0 0;
  padding: 0.8rem;
  line-height: 1.35;
  color: hsl(219deg, 14%, 63%);
  font-size: 0.9rem;
  cursor: pointer;
}
.panel-notif .private-msg:hover {
  background-color: hsl(211deg, 68%, 94%);
}

.panel-notif .chessimg {
  height: 2.5rem;
  width: auto;
}

.active {
  background: hsl(210deg, 60%, 98%);
  cursor: pointer;
}

.active .red-dot {
  display: inline-block;
  background-color: hsl(1deg, 90%, 64%);
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 0.5rem;
  margin: 0 0.4rem;
}

@media screen and (min-width: 800px) {
  body {
    min-height: 100vh;
    display: grid;
    place-items: center;
  }
  .head {
    margin: 1.5rem 2rem;
  }
  h1 {
    color: hsl(224deg, 21%, 14%);
    font-size: 1.5rem;
    font-weight: 800;
  }
  .mark-as-read {
    font-size: 1rem;
    letter-spacing: normal;
  }
  .panel-notif li {
    margin: 0 2rem;
  }
}/*# sourceMappingURL=style.css.map */